.profile-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-content {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 400px;
}

.profile-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.saveProfile{
    background-color: #5CFFB6;
}

.closeProfile{
    background-color: #ff3737;
}
