body{
    overflow: hidden;
    background: linear-gradient(200deg,rgb(30, 166, 159) 0%,rgb(67, 80, 200) 100%) no-repeat center center fixed;
    background-size: cover;
    font-family: Century Gothic;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 80vw !important;
    max-height: 95vh;
    min-height: 90vh;
    margin-top: 5vh;
    border-radius: 12px;
    border: 4px rgba(29,29,27,.15) solid;
    box-shadow: inset 0px 2px 0px 0px rgb(255 255 255 / 15%), 0px 3px 0px 0px rgb(255 255 255 / 15%);
}
.header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5vh;
    color: white;
    font-size: 60px;
    font-weight: bold;
}
.main-part {
    width: 60%;
    margin-bottom: 3%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
.account{
    background-color: rgba(80,24,81,.25);
    border-radius: 0 0 12px;
    min-height: 53vh;
    max-height: 60vh;
}
.tutorial {
    text-align: center;
    margin-bottom: 3%;
    width: 30%;
    border: 4px rgba(29,29,27,.15) solid;
    border-radius: 12px;
    text-align: center;
    min-height: 53vh;
    max-height: 61.5vh;
}
.split-container {
    display: flex;
}
.switch-buttons{
    display: flex;
    flex-direction: row;
}
.switch-buttons button{
    background-color: rgba(80,24,81,.25);
    border: none;
    border-radius: 12px 12px 0px 0px;
    font-size: 20px;
}
.guestButton{
    width: 49%;
    height: 45px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    color: white;
}
.loginButton{
    width: 49%;
    height: 45px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    color: white;
}
.guestButton.active{
    width: 50%;
    height: 50px;
    margin: 0;
    color: #5CFFB6;
    text-shadow: rgb(23 5 87) 3px 0px 0px, rgb(23 5 87) 2.83487px 0.981584px 0px, rgb(23 5 87) 2.35766px 1.85511px 0px, rgb(23 5 87) 1.62091px 2.52441px 0px, rgb(23 5 87) 0.705713px 2.91581px 0px, rgb(23 5 87) -0.287171px 2.98622px 0px, rgb(23 5 87) -1.24844px 2.72789px 0px, rgb(23 5 87) -2.07227px 2.16926px 0px, rgb(23 5 87) -2.66798px 1.37182px 0px, rgb(23 5 87) -2.96998px 0.42336px 0px, rgb(23 5 87) -2.94502px -0.571704px 0px, rgb(23 5 87) -2.59586px -1.50383px 0px, rgb(23 5 87) -1.96093px -2.27041px 0px, rgb(23 5 87) -1.11013px -2.78704px 0px, rgb(23 5 87) -0.137119px -2.99686px 0px, rgb(23 5 87) 0.850987px -2.87677px 0px, rgb(23 5 87) 1.74541px -2.43999px 0px, rgb(23 5 87) 2.44769px -1.73459px 0px, rgb(23 5 87) 2.88051px -0.838247px 0px;
}
.loginButton.active{
    width: 50%;
    height: 50px;
    margin: 0;
    color: #5CFFB6;
    text-shadow: rgb(23 5 87) 3px 0px 0px, rgb(23 5 87) 2.83487px 0.981584px 0px, rgb(23 5 87) 2.35766px 1.85511px 0px, rgb(23 5 87) 1.62091px 2.52441px 0px, rgb(23 5 87) 0.705713px 2.91581px 0px, rgb(23 5 87) -0.287171px 2.98622px 0px, rgb(23 5 87) -1.24844px 2.72789px 0px, rgb(23 5 87) -2.07227px 2.16926px 0px, rgb(23 5 87) -2.66798px 1.37182px 0px, rgb(23 5 87) -2.96998px 0.42336px 0px, rgb(23 5 87) -2.94502px -0.571704px 0px, rgb(23 5 87) -2.59586px -1.50383px 0px, rgb(23 5 87) -1.96093px -2.27041px 0px, rgb(23 5 87) -1.11013px -2.78704px 0px, rgb(23 5 87) -0.137119px -2.99686px 0px, rgb(23 5 87) 0.850987px -2.87677px 0px, rgb(23 5 87) 1.74541px -2.43999px 0px, rgb(23 5 87) 2.44769px -1.73459px 0px, rgb(23 5 87) 2.88051px -0.838247px 0px;
}
.guest, .login, .register {
    display: none;
}
.guest, .login, .register input{
    width: 50%;
}
.guest.active, .login.active, .register.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.aLinks{
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}
.tutorial p{
    font-size: 20px;
    width: 90%;
    color: white;
}
.tutorial h5{
    font-size: 40px;
    color: #5CFFB6;
    text-shadow: rgb(23 5 87) 3px 0px 0px, rgb(23 5 87) 2.83487px 0.981584px 0px, rgb(23 5 87) 2.35766px 1.85511px 0px, rgb(23 5 87) 1.62091px 2.52441px 0px, rgb(23 5 87) 0.705713px 2.91581px 0px, rgb(23 5 87) -0.287171px 2.98622px 0px, rgb(23 5 87) -1.24844px 2.72789px 0px, rgb(23 5 87) -2.07227px 2.16926px 0px, rgb(23 5 87) -2.66798px 1.37182px 0px, rgb(23 5 87) -2.96998px 0.42336px 0px, rgb(23 5 87) -2.94502px -0.571704px 0px, rgb(23 5 87) -2.59586px -1.50383px 0px, rgb(23 5 87) -1.96093px -2.27041px 0px, rgb(23 5 87) -1.11013px -2.78704px 0px, rgb(23 5 87) -0.137119px -2.99686px 0px, rgb(23 5 87) 0.850987px -2.87677px 0px, rgb(23 5 87) 1.74541px -2.43999px 0px, rgb(23 5 87) 2.44769px -1.73459px 0px, rgb(23 5 87) 2.88051px -0.838247px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tutorial i{
    color: white;
    font-size: 130px;
    margin-bottom: 20px;
}
.typeText{
    font-size: 40px;
    margin: 3%;
    color: white;
}
.account input{
    width: 40%;
    height: 7vh;
    margin: 3px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.747);
    border: 3px solid rgb(184, 184, 184);
    border-radius: 10px;
}
.startButton{
    width: 20%;
    height: 50px;
    margin: 10px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgb(201, 201, 201);
    font-size: 20px;
    font-weight: bold;
}
.iconSelectorHolder{
    min-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.inputHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}
.inputHolder p{
    color: white;
    font-size: 25px;
    width: 80%;
    text-align: center;
    margin-top: 17%;
}
.inputHolder input{
    width: 100%;
}
.holder {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.guest.active .startButton{
    margin: 7%;
    transform: scale(1.3);
}
.iconHolder{
    background-color: rgba(0, 255, 213, 0.644);
    width: 100px;
    height: 100px;
    transform: scale(2);
    border-radius: 90px 90px 12px 12px;
}
.iconHolder i{
    color: white;
    font-size: 30px;
    position: relative;
    left: 80%;
    top: 60%;
    cursor: pointer;
}
.icon{
    position: relative;
    bottom: 25%;
    z-index: -1;
    left: 5%;
    width: 90%;
    height: 90%;
    user-select: none;
}