*{
    user-select: none;
}
body{
    overflow: hidden;
    background: linear-gradient(200deg,rgb(19, 204, 173) 0%,rgb(28, 133, 151) 100%) no-repeat center center fixed;
    background-size: cover;
    font-family: Century Gothic;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
}

.header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.table-container {
    background-color: #597086;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #172e44;
    padding: 12px;
    text-align: left;
    color: white;
    background-color: #4f6b88;
}

table th {
    background-color: #2c3e50;
    color: #979797;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.action-buttons button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.action-buttons .edit {
    background-color: #3498db;
    color: #fff;
}

.action-buttons .delete {
    background-color: #e74c3c;
    color: #fff;
}

.action-buttons button:hover {
    opacity: 0.9;
}

.add-unlocable-form {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.add-unlocable-form input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

.add-unlocable-form button {
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-unlocable-form button:hover {
    background-color: #2980b9;
}